
# Ignore Python cached files

__pycache__/

.pytest_cache/
.Rproj.user

# Ignore build artifacts
dist/
build/
*.egg-info/

# Ignore sandbox_status.json only under causaliq_repro/zenodo
causaliq_repro/zenodo/**/sandbox_status.json

# But do NOT ignore it under tests/data/causaliq/repro
!tests/data/causaliq/repro/**/sandbox_status.json