{% set description -%}
This is a root entry for CausalIQ integration test of the publishing workflow.
{%- endset %}

{% set notes -%}
This is just an integration test root deposit for the publishing workflow.
{%- endset %}

{
  "title": "CausalIQ Integration Test Root 1 V1 Deposit",
  "description": "{{ description | replace('\n', ' ') }}",
  "creators": [
    {
      "name": "{{ creator_name }}",
      "orcid": "{{ creator_orcid }}",
      "affiliation": "{{ creator_affiliation }}"
    }
  ],
  "license": "{{ license }}",
  "upload_type": "other",
  "keywords": {{ keywords | tojson }},
  "related_identifiers": {{ related_identifiers | tojson }},
  "language": "{{ language }}",
  "access_right": "{{ access_right }}",
  "notes": "{{ notes | replace('\n', ' ') }}"
}